body {
    font-family: sans-serif;
    text-align: left;
    padding: 0px;
    margin: 0px;
    -webkit-text-size-adjust: none;
    resize: none;
    background-color: #FFFFFF;
}

#image-preview {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.highlight {
    color: #ff8400;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

.highlight_reverse {
    color: white;
    background-color: #ff8400;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

.highlight_green {
    color: white;
    background-color: #00CC88;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    font-size: 23px;
}

.highlight_blue {
    color: white;
    background-color: #0088CC;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    font-size: 23px;
}

.item_row {
    display: inline-block;
    width: 100%;
    height: 280px;
    text-align: center;
}

.item_cell {
    display: inline-block;
    width: 95%;
    height: 95%;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    color: #ff8400;
}

.item_image {
    position: relative;
    width: 100%;
    height: 72%;
    background-color: #666666;
}

.subview {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0px;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ff8400;
    z-index: 3;
}

.subview_content {
    position: fixed;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    bottom: 50px;
    top: 212px;
    border-radius: 16px;
    border: 1px solid #CCCCCC;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

.subview_images {
    position: relative;
    width: 100%;
    top: 35px;
    height: 260px;
    overflow: hidden;
    text-align: center;
    background-color: #666666;
}
